In [5]:
import pandas as pd
import os

os.chdir("/Users/rx0/Desktop/Thesis/Experiment/JktDriveVLM/Eval/GPT5")

In [6]:
PR_DF = pd.read_csv('/Users/rx0/Desktop/Thesis/Experiment/JktDriveVLM/Eval/GPT5/GPT_5_circular_perception_reasoning_group_results.csv')

In [7]:
PR_DF

       id  accuracy  all_correct
0   LRE01       1.0         True
1   LRE02       1.0         True
2   LRE03       0.0        False
3   LRE04       1.0         True
4   LRE05       1.0         True
..    ...       ...          ...
60  UTR06       1.0         True
61  UTR07       1.0         True
62  UTR08       1.0         True
63  UTR09       1.0         True
64  UTR10       1.0         True

[65 rows x 3 columns]

In [8]:
SC_DF = pd.read_csv('/Users/rx0/Desktop/Thesis/Experiment/JktDriveVLM/Eval/GPT5/GPT_5_circular_safety_compliance_group_results.csv')

SC_DF

        id  accuracy  all_correct
0    IRC01       1.0         True
1    IRC02       1.0         True
2    IRC03       1.0         True
3    IRC04       1.0         True
4    IRC05       1.0         True
..     ...       ...          ...
121  TSR09       1.0         True
122  TSR10       1.0         True
123  TSR11       1.0         True
124  TSR12       1.0         True
125  TSR13       1.0         True

[126 rows x 3 columns]

In [9]:
UC_DF = pd.read_csv('/Users/rx0/Desktop/Thesis/Experiment/JktDriveVLM/Eval/GPT5/GPT_5_circular_urban_flow_complexity_group_results.csv')

UC_DF

       id  accuracy  all_correct
0   EMP01       1.0         True
1   EMP02       1.0         True
2   EMP03       1.0         True
3   EMP04       0.5        False
4   EMP05       1.0         True
..    ...       ...          ...
77  VRU18       1.0         True
78  VRU19       0.0        False
79  VRU20       1.0         True
80  VRU21       0.5        False
81  VRU22       1.0         True

[82 rows x 3 columns]

In [10]:
65+126+82

273